set surround

imap fd <Esc>
set timeoutlen=1000

# https://stackoverflow.com/questions/27898407/intellij-idea-with-ideavim-cannot-copy-text-from-another-source
set clipboard+=unnamed

nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(GotoDeclaration)

# nmap <S-D> <Action>(KillSexp)
